@using Web_Double.Models
@model LoginViewModel

@{
    ViewBag.Title = "Đăng Nhập";
    Layout = null;
}
<link rel="stylesheet" href="~/wwwroot/css/Login.css" />
<div class="body-login">
    <div class="login">
        <h2>Đăng Nhập</h2>

        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="Username">Tên đăng nhập</label>
                <input type="text" name="Username" id="Username" class="form-control" placeholder="Tên đăng nhập" />
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="Password">Mật khẩu</label>
                <input type="password" name="Password" id="Password" class="form-control" placeholder="Password" />
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form_button">
                <button type="submit" class="btn btn-primary">Đăng Nhập</button>
            </div>
        }

        <div>
            <p>Chưa có tài khoản? <a href="@Url.Action("Register", "Account")">Đăng Ký</a></p>
        </div>
    </div>
</div>